.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-item {
    width: 70px;
    height: 70px;
    object-fit: cover;
    transition: 0.5;
}

.show {display: block;}

.dropAvatars {
    width: 15rem;
    padding: 1rem;
    background-color: slategray;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    place-items: center;
    gap: 20px;
}

.dropdown-item:hover {
    width: 75px;
    height: 75px;
    cursor: pointer;
}
.avatarImageSelected {
    width: 75px;
    height: 75px;
    border: 2px solid blue;
}